<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">

 <nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
    <div class="container-fluid">
        <li class="navbar-brand" href="#" style="font-family: 'Mulish', sans-serif;
        color:#F7F9F9;">
            <i class="fas fa-virus"></i>
          Covid Tracker <small>IN</small></li>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" routerLink="/"
                style="color: #F7F9F9; margin-left: 100px;">
                <i class="fas fa-home"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="/statewise"
                style="color: #F7F9F9; margin-left: 80px;">
                <i class="fas fa-flag"></i></a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link active" routerLink="/statistics"
                style="color: #F7F9F9; margin-left: 80px;">
                <i class="fas fa-chart-line"></i></a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link active" routerLink="/worldometer"
                style="color: #F7F9F9; margin-left: 80px;">
                <i class="fas fa-globe-americas"></i></a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link active" routerLink="/vaccines"
                style="color: #F7F9F9; margin-left: 80px;">
                <i class="fas fa-syringe"></i></a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" routerLink="/helpline"
                style="color: #F7F9F9; margin-left: 80px;">
                <i class="fas fa-ambulance"></i></a>
              </li>
              
            </ul>
           
          </div>
    </div>

    
  </nav>  

 